body {
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

.wrapper{
	width: 240px;
	height: 450px;
	background: rgb(135,206,250);
    border: 6px outset rgb(30,144,255);
}

.button {
	width: 40px;
	height: 40px;
	background: white;
    border: 3px outset rgb(30,144,255);
	margin: 1px;
	float: left;
	text-align: center;
	font-size: 30px;
}

.sign {
	font-size: 14px;
	color: red;
	margin: 0;
	margin-left: 10px;
}

input[type="radio"] {
	display: none; 
}

.buttons {
	margin-top: 7px;
}
input[type="number"] {
	border: 0;
	height: 36px;
	width: 220px;
	margin-left: 5px;
	font-size: 24px;
	outline: none;
}

.operand, .result {
	height: 40px;
	background: white;
    border: 3px outset rgb(30,144,255);
	margin: 1px;
	border-radius: 10px;
}

.clear {
	color: red;
	
}

.numeral {
	color: green;
}

.operation {
	color: blue;
}

.advancedOperation {
	
	font-size: 20px;
}
A:hover {
    color: black;
	font-size: 20px;
	cursor: pointer;
   } 
